<ion-header>
  <ion-navbar color="p-primary-dark" padding-top>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Edit User       
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div>
      <h3>
        Select a User <span class="add-icon" (click)="navToModal('user', '')"><ion-icon name="add"></ion-icon></span>
      </h3>
       <ion-list no-lines>

         <ion-item-sliding *ngFor="let person of users; let idx = index;">
           <ion-item [ngClass]="{'active-list-item': person === selectedUser}" (click)="selectSetting('user', person)">{{ person }}</ion-item>
           <ion-item-options side="right">
             <button ion-button color="p-primary" (click)="navToModal('user', person, idx)">
                <ion-icon name="create"></ion-icon>
                Edit
             </button>
             <button ion-button color="danger" (click)="deleteSetting('user', idx)">
               <ion-icon name="trash"></ion-icon>
               Delete
             </button>
           </ion-item-options>
         </ion-item-sliding>
        
      </ion-list>
    </div>
    <div>
      <h3>
        Select a Station <span class="add-icon" (click)="navToModal('station', '')"><ion-icon name="add"></ion-icon></span>
      </h3>

      <ion-list no-lines>

         <ion-item-sliding *ngFor="let station of stations; let idx = index;">
           <ion-item [ngClass]="{'active-list-item': station === selectedStation}" (click)="selectSetting('station', station)">{{ station }}</ion-item>
           <ion-item-options side="right">
             <button ion-button color="p-primary" (click)="navToModal('station', station, idx)">
                <ion-icon name="create"></ion-icon>
                Edit
             </button>
             <button ion-button color="danger" (click)="deleteSetting('station', idx)">
               <ion-icon name="trash"></ion-icon>
               Delete
             </button>
           </ion-item-options>
         </ion-item-sliding>

      </ion-list>
    </div>
</ion-content>
