page-device {
    .add-icon {
        vertical-align: middle;
        padding-left: 8px;
        padding-right: 8px;
    }

    .active-list-item {
        background-color: #e6e6e6;
    }

    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: color($colors, p-primary);
        box-shadow: inset 0 -1px 0 0 color($colors, p-primary);
    }

}
