<ion-header>
  <ion-navbar color="p-primary-dark" padding-top>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>View Leads</ion-title>
    <ion-buttons end class="navbar-btns">
      <button ion-button icon-only (tap)="toggleSearchBox()">
         <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="p-primary-dark" *ngIf="showSearch" >
       <ion-searchbar (ionInput)="filterLeads($event)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="{{showSearch ? 'search-open' : ''}}">

<div *ngFor="let person of leads;" >
<ion-card >
    <ion-list no-lines>
      <ion-item-sliding>
        <ion-item class="list__contactbox">
          <h1>{{person.firstName + " " + person.lastName}}</h1>
          <p>{{person.company}}</p>
          <p class="list__contactbox__date"><small>{{person.date}}</small></p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="p-primary" (tap)="editRecord(person.id)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" (tap)="deleteRecord(person.id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
  </ion-card>
</div>
    
</ion-content>

<ion-footer class="list__footer">
  <ion-toolbar >
    <button color="p-primary" ion-button block large [navPush]="scanPage">Add New Record</button>
  </ion-toolbar>
</ion-footer>