page-record {    
    .default-info-card {
        .icon-column {
            border-right: 1px solid color($colors, white-divider);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            line-height: 1;
            opacity: 0.8;

            ion-icon {
                font-size: 1.8em;
            }
            
            p {
                font-size: 0.7em;
            }
        }

        .info-column {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-weight: bold;
            }
        }
    }


}
