// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary :    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

  p-primary-dark : #00796b,
  p-primary : #009688,
  p-primary-light : #B2DFDB,
  p-text : #FFFFFF,
  p-accent : #607d8b,
  p-text-dark : #212121,
  p-text-secondary : #757575,
  p-divider : #BDBDBD,
  white-divider : #E5E5E5
);  


// App Theme
// --------------------------------------------------


// Changing Select Radio Button color
$alert-md-button-text-color: color($colors, p-primary-dark);

// Hide bottom box shadow on text inputs
$text-input-md-show-focus-highlight: false;




// Inline Card Buttons on Dashboard, Settings, Device pages
ion-item.input-has-value:not(.input-has-focus),
ion-item.input-has-focus {
  border-bottom-color: color($colors, p-primary) !important;
  box-shadow: color($colors, p-primary) 0 -1px 0 0 inset !important;
}

.inline-card-button {
  .inline-card-icon {
        border-right: 1px solid color($colors, white-divider);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
    }

    ion-col {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .secondary-text {
      line-height: 1.1;
      color: color($colors, p-text-secondary);

      ion-icon {
        vertical-align: middle;
      }
    }
}

// Square Card button - 1 icon, 1 text line - Dashboard, ScanSled page
.square-card-btn {
    ion-icon {
        font-size: 5.5em;
        color: rgba(0,0,0,.8);
    }

    .square-card-btn-text {
        border-top: 1px solid color($colors, white-divider);
        padding-top:10px;
        padding-bottom: 8px;
    }
}

// Navbar Right buttons
.navbar-btns {
  button {
    margin-right: 12px;
  }
}

// Search Bar, Device info on Scan pages
.scan-footer {
    ion-toolbar {
        min-height: auto;
    }

    .scan-device-info {
        padding: 7px 3px 2px 3px;
        color: color($colors, light);
        font-size: 1.2em;
        white-space: nowrap;

        ion-icon {
            padding-right: 5px;
            margin-right: 5px;
            padding-left: 5px;
        }
    }
}

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
