<ion-header>
  <ion-navbar color="p-primary-dark" padding-top>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Record</ion-title>
    <ion-buttons end class="navbar-btns">
      <button ion-button (click)="saveRecord()">
         Save New
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
 <form [formGroup]="recordForm" class="survey-form">

 <ion-card class="default-info-card" formGroupName="leadRanking">
    <ion-row>
      <ion-col width-25 text-center class="icon-column" stretch>
          <div>
            <ion-icon name="contact"></ion-icon>
          </div>
          <p center>{{badgeId}}</p>
      </ion-col>
      <ion-col class="info-column" padding-left>
      <h2>{{firstName + ' ' + lastName}}</h2>
      <p>{{company}}</p>
      <ion-list class="small-select lead-box">
          <div *ngFor="let lead of leadrankingObj"> 
            <pickone-input *ngIf="lead.type === 'PICKONE'" prompt={{lead.prompt}} required={{lead.required}} [pickOptions]="lead.options" formControlName={{lead.tag}} ></pickone-input>
          </div>           
          </ion-list>
      </ion-col>
    </ion-row>    
  </ion-card> 

      <ion-card class="contact-info-card validar-form" [hidden]="capturePage !== 'contact'" formGroupName="contact">  
        <ion-card-header>
          Contact Information:                   
        </ion-card-header>     
        <ion-card-content>
          <ion-list>

            <div *ngFor="let contactItem of contactObj">              
              <text-input *ngIf="contactItem.type === 'TEXT'" prompt={{contactItem.prompt}} required={{contactItem.required}} formControlName={{contactItem.tag}}></text-input>
              <text-area *ngIf="contactItem.type === 'TEXTAREA'" prompt={{contactItem.prompt}} required={{contactItem.required}} formControlName={{contactItem.tag}}></text-area>              
              <checkbox-input *ngIf="contactItem.type === 'CHECKBOX'" prompt={{contactItem.prompt}} required={{contactItem.required}} formControlName={{contactItem.tag}}></checkbox-input>
              <pickmany-input *ngIf="contactItem.type === 'PICKMANY'" prompt={{contactItem.prompt}} required={{contactItem.required}} [pickOptions]="contactItem.options" formControlName={{contactItem.tag}}></pickmany-input> 
              <pickone-input *ngIf="contactItem.type === 'PICKONE'" prompt={{contactItem.prompt}} required={{contactItem.required}} [pickOptions]="contactItem.options" formControlName={{contactItem.tag}} ></pickone-input>
            </div>                       

          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card class="scans-info-card" [hidden]="capturePage !== 'contact'">  
        <ion-card-header>
          Scans:                   
        </ion-card-header>     
        <ion-card-content> 
           <p *ngFor="let visit of visits">{{visit.date + ' | ' + visit.by + ' | ' + visit.station}}</p>            
        </ion-card-content>
      </ion-card>

      <ion-card class="translation-info-card" *ngIf="capturePage === 'contact' && infoService.leadsource.HasTranslation && person.Translation && person.Translation.Status === 0 && translationFields && translationFields.length > 0">
        <ion-card-header>
          Translation Data:
        </ion-card-header>
        <ion-card-content>
          <p *ngFor="let item of translationFields">
            <span class="field-title">{{item.title}}: </span><span class="field-value">{{item.value}}</span>
          </p>
        </ion-card-content>
      </ion-card>

      <ion-card class="qualifiers-card validar-form" [hidden]="capturePage !== 'qualifiers'" formGroupName="qualifiers">
        <ion-card-header>Qualifiers:</ion-card-header>
        <ion-card-content>
          <ion-list>

            <div *ngFor="let qualifier of qualifiersObj">              
              <text-input *ngIf="qualifier.type === 'TEXT'" prompt={{qualifier.prompt}} required={{qualifier.required}} formControlName={{qualifier.tag}}></text-input>
              <text-area *ngIf="qualifier.type === 'TEXTAREA'" prompt={{qualifier.prompt}} required={{qualifier.required}} formControlName={{qualifier.tag}}></text-area>              
              <checkbox-input *ngIf="qualifier.type === 'CHECKBOX'" prompt={{qualifier.prompt}} required={{qualifier.required}} formControlName={{qualifier.tag}}></checkbox-input>
              <pickmany-input *ngIf="qualifier.type === 'PICKMANY'" prompt={{qualifier.prompt}} required={{qualifier.required}} [pickOptions]="qualifier.options" formControlName={{qualifier.tag}}></pickmany-input> 
              <pickone-input *ngIf="qualifier.type === 'PICKONE'" prompt={{qualifier.prompt}} required={{qualifier.required}} [pickOptions]="qualifier.options" formControlName={{qualifier.tag}}></pickone-input>
            </div>

          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card class="notes-card" [hidden]="capturePage !== 'notes'" formGroupName="notes">
        <ion-card-header>Notes:</ion-card-header>     
          <ion-card-content>
            <ion-list>
              <div *ngFor="let note of notesObj">
                <text-input *ngIf="note.type === 'TEXT'" prompt={{note.prompt}} required={{note.required}} formControlName={{note.tag}}></text-input>
                <text-area *ngIf="note.type === 'TEXTAREA'" prompt={{note.prompt}} required={{note.required}} formControlName={{note.tag}}></text-area>                
              </div>
              <ion-badge [ngClass]="{'error-badge': recordForm.value.notes.lcNotes.length > 500}" color="p-primary" >{{recordForm.value.notes.lcNotes.length}}/500</ion-badge>             
            </ion-list>
          </ion-card-content>
      </ion-card>

  </form>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-segment color="p-primary-dark" [(ngModel)]="capturePage" (ionChange)="scrollToTop()">
      <ion-segment-button  value="contact">
        Contact
      </ion-segment-button>
      <ion-segment-button value="qualifiers">
        Qualifiers
      </ion-segment-button>
      <ion-segment-button value="notes">
        Notes
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>